.admin-menu {padding: 15px 10px 15px 15px;}
.admin-content {padding: 15px 10px 15px 15px;}
.common-settings-lable {font-size: 100%;}
.common-settings-lable-row{margin-bottom: 20px;}
.common-settings-content-row{vertical-align: middle;height: 34px;}